# Base URL for REST API endpoints
EXPO_PUBLIC_API_URL=https://httpbin.org

# Application Environment (development, staging, production)
EXPO_PUBLIC_ENV=development

# Dummy API Mock Mode (set to false when connecting to real backend API)
EXPO_PUBLIC_USE_DUMMY_API=true
